# ASSIGNMENT # 01 (Machine learning) by Amina Saeed

In [49]:
import numpy as np
import pandas as pd

In [50]:
df=pd.read_csv(r"D:\Housing.csv")

In [51]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [52]:
print(df.columns)

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

## Check for missing values:

In [53]:
# Check for missing values
print(df.isnull().sum())

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

## Convert Categorical Variables to Numerical

In [54]:
binary_cols = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']
df[binary_cols] = df[binary_cols].apply(lambda x: x.map({'yes': 1, 'no': 0}))
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished

In [55]:
ab=['furnishingstatus']
df[ab] = df[ab].apply(lambda x: x.map({'unfurnished': 2, 'furnished': 1, 'semi-furnished': 0}))
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1

## Normalize Numerical Data

In [56]:
from sklearn.preprocessing import MinMaxScaler

# Initialize a scaler
scaler = MinMaxScaler()

# Normalize numerical columns
num_cols = ['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'parking', 'furnishingstatus']
df[num_cols] = scaler.fit_transform(df[num_cols])
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,1.000000,0.396564,0.6,0.333333,0.666667,1,0,0,0,1,0.666667,1,0.5
1,0.909091,0.502405,0.6,1.000000,1.000000,1,0,0,0,1,1.000000,0,0.5
2,0.909091,0.571134,0.4,0.333333,0.333333,1,0,1,0,0,0.666667,1,0.0
3,0.906061,0.402062,0.6,0.333333,0.333333,1,0,1,0,1,1.000000,1,0.5
4,0.836364,0.396564,0.6,0.000000,0.333333,1,1,1,0,1,0.666667,0,0.5

## Feature Selection:
#### Selecting relevant features based on correlation analysis or domain knowledge to improve model performance:

In [57]:
# correlation matrix to identify important features
correlation_matrix = df.corr()
print(correlation_matrix)

                     price      area  bedrooms  bathrooms   stories  mainroad  \
price             1.000000  0.535997  0.366494   0.517545  0.420712  0.296898
area              0.535997  1.000000  0.151858   0.193820  0.083996  0.288874
bedrooms          0.366494  0.151858  1.000000   0.373930  0.408564 -0.012033
bathrooms         0.517545  0.193820  0.373930   1.000000  0.326165  0.042398
stories           0.420712  0.083996  0.408564   0.326165  1.000000  0.121706
mainroad          0.296898  0.288874 -0.012033   0.042398  0.121706  1.000000
guestroom         0.255517  0.140297  0.080549   0.126469  0.043538  0.092337
basement          0.187057  0.047417  0.097312   0.102106 -0.172394  0.044002
hotwaterheating   0.093073 -0.009229  0.046049   0.067159  0.018847 -0.011781
airconditioning   0.452954  0.222393  0.160603   0.186915  0.293602  0.105423
parking           0.384394  0.352980  0.139270   0.177496  0.045547  0.204433
prefarea          0.329777  0.234779  0.079023   0.063472  0.044425  0.199876
furnishingstatus -0.190086 -0.081367 -0.097834  -0.089418 -0.043288 -0.079403

                  guestroom  basement  hotwaterheating  airconditioning  \
price              0.255517  0.187057         0.093073         0.452954
area               0.140297  0.047417        -0.009229         0.222393
bedrooms           0.080549  0.097312         0.046049         0.160603
bathrooms          0.126469  0.102106         0.067159         0.186915
stories            0.043538 -0.172394         0.018847         0.293602
mainroad           0.092337  0.044002        -0.011781         0.105423
guestroom          1.000000  0.372066        -0.010308         0.138179
basement           0.372066  1.000000         0.004385         0.047341
hotwaterheating   -0.010308  0.004385         1.000000        -0.130023
airconditioning    0.138179  0.047341        -0.130023         1.000000
parking            0.037466  0.051497         0.067864         0.159173
prefarea           0.160897  0.228083        -0.059411         0.117382
furnishingstatus  -0.057513 -0.093425        -0.069076        -0.020887

                   parking  prefarea  furnishingstatus
price             0.384394  0.329777         -0.190086
area              0.352980  0.234779         -0.081367
bedrooms          0.139270  0.079023         -0.097834
bathrooms         0.177496  0.063472         -0.089418
stories           0.045547  0.044425         -0.043288
mainroad          0.204433  0.199876         -0.079403
guestroom         0.037466  0.160897         -0.057513
basement          0.051497  0.228083         -0.093425
hotwaterheating   0.067864 -0.059411         -0.069076
airconditioning   0.159173  0.117382         -0.020887
parking           1.000000  0.091627         -0.114405
prefarea          0.091627  1.000000         -0.037823
furnishingstatus -0.114405 -0.037823          1.000000

In [58]:
# Select columns that are closely related
threshold = 0.5  
close_relations = correlation_matrix[(correlation_matrix >= threshold) | (correlation_matrix <= -threshold)]
print("\nColumns that are closely related:\n", close_relations)

Columns that are closely related:
                      price      area  bedrooms  bathrooms  stories  mainroad  \
price             1.000000  0.535997       NaN   0.517545      NaN       NaN
area              0.535997  1.000000       NaN        NaN      NaN       NaN
bedrooms               NaN       NaN       1.0        NaN      NaN       NaN
bathrooms         0.517545       NaN       NaN   1.000000      NaN       NaN
stories                NaN       NaN       NaN        NaN      1.0       NaN
mainroad               NaN       NaN       NaN        NaN      NaN       1.0
guestroom              NaN       NaN       NaN        NaN      NaN       NaN
basement               NaN       NaN       NaN        NaN      NaN       NaN
hotwaterheating        NaN       NaN       NaN        NaN      NaN       NaN
airconditioning        NaN       NaN       NaN        NaN      NaN       NaN
parking                NaN       NaN       NaN        NaN      NaN       NaN
prefarea               NaN       NaN       NaN        NaN      NaN       NaN
furnishingstatus       NaN       NaN       NaN        NaN      NaN       NaN

                  guestroom  basement  hotwaterheating  airconditioning  \
price                   NaN       NaN              NaN              NaN
area                    NaN       NaN              NaN              NaN
bedrooms                NaN       NaN              NaN              NaN
bathrooms               NaN       NaN              NaN              NaN
stories                 NaN       NaN              NaN              NaN
mainroad                NaN       NaN              NaN              NaN
guestroom               1.0       NaN              NaN              NaN
basement                NaN       1.0              NaN              NaN
hotwaterheating         NaN       NaN              1.0              NaN
airconditioning         NaN       NaN              NaN              1.0
parking                 NaN       NaN              NaN              NaN
prefarea                NaN       NaN              NaN              NaN
furnishingstatus        NaN       NaN              NaN              NaN

                  parking  prefarea  furnishingstatus
price                 NaN       NaN               NaN
area                  NaN       NaN               NaN
bedrooms              NaN       NaN               NaN
bathrooms             NaN       NaN               NaN
stories               NaN       NaN               NaN
mainroad              NaN       NaN               NaN
guestroom             NaN       NaN               NaN
basement              NaN       NaN               NaN
hotwaterheating       NaN       NaN               NaN
airconditioning       NaN       NaN               NaN
parking               1.0       NaN               NaN
prefarea              NaN       1.0               NaN
furnishingstatus      NaN       NaN               1.0

### "So closely realted colunm is area & price"

## Model Selection and Training
#### We'll start by selecting and training a Linear Regression model using the scikit-learn library.

In [59]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Features and target variable
X = df.drop('price', axis=1)
y = df['price']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

## Model Evaluation and Fine-Tuning
#### Evaluate the model’s performance using metrics like Mean Squared Error (MSE) and R-squared (R²):

In [60]:
# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared (R²): {r2}")

Mean Squared Error (MSE): 0.01310139060974283
R-squared (R²): 0.6542221839581828

In [61]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge

# Feature scaling
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Split the scaled data
X_train_scaled, X_test_scaled, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Initialize and train the Ridge Regression model
ridge_model = Ridge(alpha=1.0)
ridge_model.fit(X_train_scaled, y_train)

# Predict and evaluate
y_pred_ridge = ridge_model.predict(X_test_scaled)
mse_ridge = mean_squared_error(y_test, y_pred_ridge)
r2_ridge = r2_score(y_test, y_pred_ridge)

print(f"Ridge Regression Mean Squared Error (MSE): {mse_ridge}")
print(f"Ridge Regression R-squared (R²): {r2_ridge}")

Ridge Regression Mean Squared Error (MSE): 0.013105570185978915
Ridge Regression R-squared (R²): 0.654111874695148